# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true


[*]
# Indentation and spacing
indent_size = 4
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true

# New line preferences
end_of_line = lf
insert_final_newline = true

dotnet_diagnostic.IDE0130.severity = error
